.about {
  flex-direction: column;
  margin-top: 3em;
  margin-bottom: 9em;
}

.about__name {
  text-transform: uppercase;
  background: linear-gradient(to right, var(--clr-secondary) 0%, var(--clr-primary) 100%);
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.about__role {
  margin-top: 0.2em;
}

.about__desc {
  font-size: 1rem;
  max-width: 600px;
}

.about__desc,
.about__contact {
  margin-top: 2.4em;
}

.about .link--icon {
  /* margin-right: 1.0em; */
  transform: scale(1.4)
}
.about .link--iconlast {
  transform: scale(1.4)
}

.about .btn--outline {
  margin-right: 1em;
}

@media (max-width: 600px) {
  .app .about {
    align-items: center;
    margin-top: 2em;
  }
}
